nav{
    height: 70px;
}
#home {
    position: relative;
    z-index: 2;
    left: 25px;
    text-decoration: none;
    color: white;
    font-size: 60px;
    background-image: -webkit-linear-gradient(#c09038, #fec146);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 5px 2px 5px rgb(96, 84, 24);
}
#home:hover{
    background-image: -webkit-linear-gradient(#d7e37e, #f8c867);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 5px 2px 5px rgb(211, 193, 101);
}

nav {
    position: relative;
    background-image: url('https://64.media.tumblr.com/eae126f1de2d0c21405af37e2b61ecc0/9ba09f59435bab67-f7/s540x810/6b9965910297daccc1169181dee83fd06e0fbca5.gifv');
    background-position: left 11%;
    background-size: cover;
    overflow: hidden;
}

nav::after {
    content: '';
    position: absolute;
    inset: 0;
    background: black; 
    mask-image: linear-gradient(to left, transparent 0%, black 25%);
    -webkit-mask-image: linear-gradient(to left, transparent 0%, black 120%);
    z-index: 1; 
    pointer-events: none;
}