/*media screen and (max-width:768px)
{
blah blah blah
} - what this does is it converts to a different thing when reduced lets say on mobile compared to laptop, so whenever
    the screen is reduced, this media screen will change the styles to help accomodate (by you) to that screen size.*/
@font-face{
font-family: 'optimus';
src: url('fonts/OptimusPrinceps.woff2') format('woff2');
font-weight: bold;
font-style: normal;
}
html{
    display: block;
    scroll-behavior: smooth;
}
html, body {
  overflow-x: hidden;
}
*{
    position: relative;
}
.title-screen{
    scroll-behavior:smooth;
    background-image: url('https://i.pinimg.com/originals/04/65/8e/04658e1a724c1830587bf1e33930a339.gif');
   background-size:cover;
   background-position: center;
   justify-content: center;
   background-repeat: no-repeat;
   width:100%;
   height: 100%;
}
.Together h1{
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 20%;
    left: 15%;
}
    /*    background-image: linear-gradient(to right, #cec2ab, #c4a363);*/
#test{
    font-family: 'optimus', serif;
    text-align: center;
    font-size: 100px;
    color: white;
    background-image: -webkit-linear-gradient(#cec2ab, #c4a363);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;}
body{
background-color: black;
display: block;
}
#title-logo{ 
    top: -10px;
    width: 575px;
    opacity: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
.buttons{
    display: grid;
    grid-template-columns: 1fr;
    width: 10%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center; 
    top: -75px;
}
#start, #contact, #memoi, #website, #Resume{
    text-align: center;
    text-decoration: none;
    font-family: Garamond, serif;
    font-size: 30px;
    background-color: transparent;
    color: white;
    border: 2px solid transparent;
    padding: 10px;
    padding-left: 100px;
    padding-right: 100px;
    white-space: nowrap;
    cursor: pointer;

}
#rights{
    color: white;
    white-space: nowrap;
    font-size: 12px;
}
#start:hover, #contact:hover, #website:hover, #memoi:hover, #Resume:hover{
    background-image: radial-gradient(rgb(137, 137, 59) ,rgb(67, 67, 31), rgb(27, 27, 13), rgb(0, 0, 0),rgb(10, 10, 5));
    border-radius: 50%;
    font-weight: bold;
}
#bonfire{
    margin-left: auto;
    margin-right: auto;
}
#location1{
    display: block;  
    margin-left: auto;
    margin-right: auto;
    width: 1400px;
    top: -250px;
}
.content{
    background-image: url('https://i.pinimg.com/originals/db/db/ae/dbdbaece21a46f9a474cf337858ff9e3.gif');
    background-size: cover;
   background-position: center;
   justify-content: center;
   background-repeat: no-repeat;
   width:100%;
   height: 100%;
    mask-image: linear-gradient(to bottom, transparent 0%, black 20%);
  -webkit-mask-image: linear-gradient(to bottom, transparent 0%, black 10%);
}
.container{
    background-color: rgba(17, 28, 80, 0.5);
    top: -580px;
    height: 470px;
    margin-left: 5%;
    margin-right: 5%;
    z-index: -2;
}
#name1{
    font-family: 'Garamond', serif;
    color: rgb(241, 241, 241);
    left: 20px;
    border-bottom: 4px solid rgba(33, 66, 232, 0.507);
    border-radius: 100%;
    z-index: -1000;
}
.container #dan{
    width: 25%;
    float: left;
    z-index: -1;
    border: 12px solid transparent;
    border-image: url('fonts/borderbluetest3.png') 30 round;
}
/*
    border-left: 3px solid rgb(39, 55, 148);
*/
#name1{
    background-image: -webkit-linear-gradient(#cec2ab, #c4a363);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.stats{
    display: grid;
    grid-template-columns: 2fr, 2fr;
    padding: 5px;
     
    left: 5px;
    margin-left: 27%;
    color: white;
    font-size: 15px;
}
.stats h2{
    font-size: 21px;
}
.left-column{
        top: 15px;
        border-left: 5px solid rgb(39, 55, 148);
        height: 35%;
}
.ageclass{
    top: -27px;
}
.rankclass{
   
    top: -85px;
}
.affiliationclass{
    top: -81px;
}
#age, #agenum, #status, #role, #guild, #gpa, #gpanum, #grade, #school, #chs1, #gradenum, #rank, #ranknum, #interestn{
        font-size: 32px;
        font-family: 'Garamond', serif;
        font-weight: lighter;
}
#age{
    top: -10px;
    text-align: left;
    padding: 5px;
}
#agenum{
    top: -77px;
    text-align: right;
    margin-right: 60%;
}
#status{    
    left: 7px;
    top: -35px;
}
#role{    
    top: -100px;
    text-align: right;
    margin-right: 60%;
}
#guild{    
    left: 5px;
    top: -110px;
}
#nextechy{   
    top: -187px;
    width: 120px;
    float: right;
    margin-right: 59%;
}
#statsicon{ 
    top: -215px;
    width: 35px;
}
#academics{
    top: -270px;
    left: 40px;
    background-image: -webkit-linear-gradient(#cec2ab, #c4a363);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.right-column{   
    top: -275px;
    border-left: 5px solid rgb(39, 55, 148);
    height: 40%;
}
#gpa{ 
    top: -30px;
}
#grade{
    top: -105px;
}
#school{    
    top: -170px;
}
#gpa, #grade, #school{     
    left: 5px;
}
#gradenum{
    text-align: right;
    margin-right: 60%;    
    top: -164px;
}
#gpanum{
    text-align: right;
    margin-right: 60%;    
    top: -90px;
}
 #chs1{
    text-align: right;
    margin-right: 60%;    
    top: -230px;
}
#rank{
    left: 5px;
    top: -225px;
}
#ranknum{
    text-align: right;
    margin-right: 60%; 
    top: -285px;
}
#chs2{     
    top: -310px;
    width: 65px;
    float: right;
    margin-right: 59%;
}
#langue{
    color: white;
    background-image: -webkit-linear-gradient(#cec2ab, #c4a363);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: left;     
    top: -360px;
    left: -210px;
}
.langues{     
    left: -345px;
    top: -375px;    height: 90px;
    margin-right: 64%;
    justify-content: center;
}
#htmll, #javascripting{
    width:65px; 
}
#javascripting{    
    left: 25px;
}
#photoshop{
    width: 130px;     
    top: -80px;
    left: 220px;
}
#csss{    
    left: 15px;
    width:74px;
}
#htmll, #csss #javascripting, #photoshop{
    float: top;
}
#htl, #cs, #jva, #pto{     
    top: -75px;
    display: inline;
    padding: 15px;
    background-image: -webkit-linear-gradient(#cec2ab, #c4a363);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
#cs, #jva, #pto{
    left: 15px;
}
#notes, #nots{
    position: absolute;
}
#notes{
    top: 135px;
    left: 5px;
    background-image: -webkit-linear-gradient(#cec2ab, #c4a363);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
#nots{
    top: 180px;
    left: 5px;
}
.last-column{     
    top: -1012px;
    left: -15px;
    margin-left: 44%;
    height: 230px;
}
#aspr{
    width: 35px;
    top: 3px;
    left: 10px;
}
#aspri{     
    top: -60px;
    left: 50px;
    background-image: -webkit-linear-gradient(#cec2ab, #c4a363);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
#aspir{    
    color: white;
    font-size: 25px;
    font-family: 'Garamond', serif;
    font-weight: lighter;
    top: -70px;
    padding: 5px;
    border-left: 5px solid rgb(39, 55, 148);
    background-color: rgb(48, 56, 106, 0.4);
    height: 40%;
    line-height: 200%;
}  
#dmoon{    
    top: 500px;
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}    
#navbutton{
    text-decoration: none;
   font-family: 'Garamond', serif;
    position:fixed;
    bottom:20px;
    right: 20px;
    z-index:1000;
    color:rgb(255, 254, 254);
    font-weight: bold;
    padding: 35px;
    font-size:30px;
    background-image: url('https://giffiles.alphacoders.com/221/221667.gif');
    background-size: cover;
    background-position: center;
    border:solid #7a6d5d 4px;
    border-radius: 15px;
}
#navbutton:hover{
    cursor: pointer;
    color: black;
    background-image: url('https://giffiles.alphacoders.com/222/222512.gif');
    background-size: cover;
    background-position: center;
    border:solid #da851d 4px;
    border-radius: 15px;
}
.hobbies{
    background-color: rgba(17, 28, 80, 0.5);
    top: -800px;
    height: 640px;
    margin-left: 5%;
    margin-right: 66%;
    z-index: -2;
}
#azur{
    width: 60px;
}
#hobby{
    top: -75px;
    left: 55px;
    background-image: -webkit-linear-gradient(#cec2ab, #c4a363);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
#pingpong{
    top: -100px;
    width: 360px;
    margin: 5%;
    border: 5px solid transparent;
    border-image: url('fonts/borderbluetest3.png') 30 round;
}
#interestn{
    color: white;
    top: -140px;
    left: 5px;
    line-height: 120%;
}
.aspirations{
    left: 470px;
    background-color: rgba(17, 27, 80, 0.833);
    top: -1440px;
    height: 640px;
    margin-left: 5%;
    margin-right: 38%;
    z-index: -2;
}
#who{
    width: 60px;
    top: -15px;
}
#who2{
    top: -85px;
    left: 60px;
    background-image: -webkit-linear-gradient(#cec2ab, #c4a363);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
#who3{
    color: white;
    font-size: 25px;
    font-family: 'Garamond', serif;
    font-weight: lighter;
    top: -90px;
    margin: 0px;
    padding: 2px;
    border-left: 5px solid rgb(39, 55, 148);
    background-color: rgb(48, 56, 106, 0.4);
    height: 155%;
    line-height: 200%; 
}
#danschool{
  width: 400px; 
  top: -85px;
  margin-left: 25%;
    border: 5px solid transparent;
border-image: url('fonts/borderbluetest3.png') 30 round;
}