/*media screen and (max-width:768px)
{
blah blah blah
} - what this does is it converts to a different thing when reduced lets say on mobile compared to laptop, so whenever
    the screen is reduced, this media screen will change the styles to help accomodate (by you) to that screen size.*/
body{
background-color: black;
display: block;
}
.title-screen{
   background-image: url('https://i.pinimg.com/originals/25/48/bf/2548bf6970f74d0d9594e17b72bc2037.gif');
   background-repeat: no-repeat;
}
#title-logo{
    width: 650px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
.save1:hover, .save2:hover, .save3:hover{
    background-color: rgb(62, 62, 31);
    border: 3px solid rgb(151, 151, 96);
}
.save1{
    top: -125px;
    position: relative;
    padding: 5px;
    margin: 150px;
    height: 150px;
    border: 3px solid #383735;
    font-family: 'Garamond', serif;
    color: rgb(169, 167, 167);
}
.save2{
    top: -267px;
    position: relative;
    padding: 5px;
    margin: 150px;
    height: 150px;
    border: 3px solid #383735;
    font-family: 'Garamond', serif;
    color: rgb(169, 167, 167);
}
.save3{
    top: -410px;
    position: relative;
    padding: 5px;
    margin: 150px;
    height: 150px;
    border: 3px solid #383735;
    font-family: 'Garamond', serif;
    color: rgb(169, 167, 167);
}
.time, .time2, .time3{
text-align: right;
position: relative;
top: -80px;
}
#icon1, #icon2, #icon3{
float: left;
width: 150px;
}
.name, .name2, .name3{
position: relative;
top: -25px;
left: 15px;
}
.location1, .location2, .location3{
text-align: right;
position: relative;
top: -71px;
}
.level, .level2, .level3{
position: relative;
top: 15px;
left: 15px;
}
.levelquant, .levelquant2, .levelquant3{
text-align: center;
position: relative;
top: -30px;
left: 15px;
}