html{
    display: block;
    scroll-behavior: smooth;
}
body{
    background-color: black;
    height: 1px;
}
nav{
    height: 70px;
}
*{
    position: relative;
}
#letter{
    width: 70%;
    display: block;    
    margin-left: auto; 
    margin-right: auto;   
    top: -140px;
}
.projecta{
    background-image: url('https://64.media.tumblr.com/e154ef008175feb19892b47233909b52/ae5a1eb8ea089a00-d6/s540x810/7d7424661620489cc06e2287bc466b13497c2f5b.gif');
    background-size: cover;
    background-position: center;
    justify-content: center;
    background-repeat: no-repeat;
    width:100%;
    height: 1200px;
    mask-image: linear-gradient(to bottom, transparent 0%, black 20%);
  -webkit-mask-image: linear-gradient(to bottom, transparent 0%, black 2%);
} 
#websitegood, #advent{
    width: 350px;
    margin: 5%;
    left: 20px;
    border: 10px solid transparent;
    border-image: url('https://www.w3schools.com/css/border.png') 30 round;
}
#buzz{
    width: 350px;
    margin: 5%;
    left: 9px;
    border: 10px solid transparent;
    border-image: url('https://www.w3schools.com/css/border.png') 30 round;
}
.project1{
    background-color: rgba(90, 63, 32, 0.916);
    height: 340px;
    top: -950px;
    left: -65px;
    margin-left: 5%;
    margin-right: 65%;
}
.project2{
    background-color: rgba(90, 63, 32, 0.916);
    height: 340px;
    top: -1290px;
    left: 370px;
    margin-left: 5%;
    margin-right: 65%; 
}
.project3{
    background-color: rgba(90, 63, 32, 0.916);
    height: 340px;
    top: -1280px;
    left: -64px;
    margin-left: 5%;
    margin-right: 65%; 
}
.description{
    background-color: rgba(90, 63, 32, 0.916);
    height: 340px;
    top: -1645px;
    left: 370px;
    margin-left: 5%;
    margin-right: 65%;
}
/* color: rgb(255, 255, 91); */
#websitegoodd, #adventt, #buzzy{
    color: rgb(245, 245, 166);
    font-size: 29px;
    top: -47px;
    text-align: center;
    font-weight: bolder;
    text-shadow: 3px 3px 1px rgb(0, 0, 0); 
}
#descriptions{
    font-size: 32px;
    color: rgb(245, 245, 166);
    text-shadow: 3px 3px 1px rgb(0, 0, 0); 
}
.project1:hover, .project2:hover, .project3:hover{
    background-color: rgba(135, 99, 59, 0.6);
    
}