/*media screen and (max-width:768px)
{
blah blah blah
} - what this does is it converts to a different thing when reduced lets say on mobile compared to laptop, so whenever
    the screen is reduced, this media screen will change the styles to help accomodate (by you) to that screen size.*/
@font-face{
font-family: 'optimus';
src: url('fonts/OptimusPrinceps.woff2') format('woff2');
font-weight: bold;
font-style: normal;
}
html{
    display: block;
}
.title-screen{
    scroll-behavior:smooth;
    background-image: url('https://i.pinimg.com/originals/04/65/8e/04658e1a724c1830587bf1e33930a339.gif');
   background-size:cover;
   background-position: center;
   justify-content: center;
   background-repeat: no-repeat;
   width:100%;
   height: 100%;
}
.Together h1{
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 20%;
    left: 20%;
}
    /*    background-image: linear-gradient(to right, #cec2ab, #c4a363);*/
#test{
    font-family: 'optimus', serif;
    text-align: center;
    font-size: 85px;
    color: white;
    background-image: -webkit-linear-gradient(#cec2ab, #c4a363);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
body{
background-color: black;
display: block;
}
#title-logo{
    position: relative;
    top: -10px;
    width: 575px;
    opacity: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.buttons{
    display: grid;
    grid-template-columns: 1fr;
    width: 10%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    position: relative;
    top: -75px;
}
#start, #replay, #memoi, #website, #Resume{
    font-family: Garamond, serif;
    font-size: 20px;
    background-color: transparent;
    color: white;
    border: 2px solid transparent;
    padding: 10px;
    padding-left: 100px;
    padding-right: 100px;
    white-space: nowrap;
}
#rights{
    color: white;
    white-space: nowrap;
    font-size: 12px;
}
#start:hover, #replay:hover, #website:hover, #memoi:hover, #Resume:hover{
    background-image: radial-gradient(rgb(137, 137, 59) ,rgb(67, 67, 31), rgb(27, 27, 13), rgb(0, 0, 0),rgb(10, 10, 5));
    border-radius: 50%;
    font-weight: bold;
}
#bonfire{
    margin-left: auto;
    margin-right: auto;
}
#location1{
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 1250px;
    top: -175px;
}
.content{
    background-image: url('https://i.pinimg.com/originals/db/db/ae/dbdbaece21a46f9a474cf337858ff9e3.gif');
    background-size: cover;
   background-position: center;
   justify-content: center;
   background-repeat: no-repeat;
   width:100%;
   height: 100%;
    mask-image: linear-gradient(to bottom, transparent 0%, black 20%);
  -webkit-mask-image: linear-gradient(to bottom, transparent 0%, black 25%);
}
.container{
    background-color: rgba(17, 28, 80, 0.5);
    position: relative;
    top: -450px;
    height: 595px;
    margin-left: 5%;
    margin-right: 5%;
    border: 2px solid red;
}
#name1{
    font-family: 'Garamond', serif;
    color: rgb(241, 241, 241);
    position: relative;
    left: 10px;
}
.container #dan{
    width: 35%;
    float: left;
}